.movies-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 70px);
  overflow: auto;
}
.movies-container .link-button {
  position: absolute;
  bottom: 5px;
  color: white;
  background: darkred;
  border: 1px solid darkred;
}
.movies-container .link-button:hover {
  background: inherit;
  color: darkred;
}
.movie-title {
  color: darkred;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
